body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}
  
.bg {
    /* The image used */
    background-image: url("../img/img1.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}